/* Styling the main elements of the page */
body {
}

.main h2 {
  font-family: "Nova Oval", sans-serif;
}

.main h3 {
  font-family: 'Open Sans Condensed', sans-serif;
}

p {
  /*border: 1px solid purple;*/
  padding: 5px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
  line-height:
}

p a {
  color: black;
}

p a:hover {
  color: black;
}

.main .container {
  /* this padding ensures that when using the navbar to jump to a section of the page, it will display the top of the section */
  padding-top: 50px;
}

.row {
  /* This creates some negative space between each Story / Fact */
  margin: 60px 0;
  /* This makes each .row section less wide on the page, and adds some empty space above and below them */
  padding: 40px 80px;
}

/* Styling the landing page */
.jumbotron {
	height: 600px;
}

.jumbotron h1 {
  margin-top: 200px;
  font-family: "Nova Oval", sans-serif;
}

.jumbotron p {
  margin-top: 180px;
}

#title, #quote {
	color: white;
}

#landingPage {
  background-image: url("images/landing_page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Styling the Stories section */
.row img, .img-circle, .img-responsive {
  height: 200px;
  width: 200px;
}

.row .pull-right {
  /*border: 1px solid blue;*/
  margin: 0 0 10px 20px;
}

.row .pull-left {
  /*border: 1px solid red;*/
  margin: 0 20px 10px 0;
}

/* Styling the Facts section */
.web_dialog {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50vw;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px grey;
  z-index: 102; /* This ensures that the popup window is displayed on top of the other content */
}

.web_dialog_title {
  color: white;
  font-size: 2em;
  padding: 10px 0;
}

.fact_popup {
  padding: 20px;
}

/* Styling the Resources section */
table {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;
}

table td {
  border-bottom: 1px solid white;
}

table a {
  color: black;
}

table a:hover {
  color: black;
}

/* Styling the Contact section */
.icons {
  font-size: 40px;
}

.fa {
  margin: 40px;
  /*padding: 20px;
  width: 80px;
  font-size: 80px;*/
}

/*#googledoc {
  width: auto;
}*/

/* Styling the footer */
footer {
  width: auto;
  padding: 10px 0;
  background-color: black;
  color: white;
}
