/* Styling the main elements of the page */
body {
}

.main h2 {
  font-family: "Nova Oval", sans-serif;
}

.main .container {
  /* this padding ensures that when using the navbar to jump to a section of the page, it will display the top of the section */
  padding-top: 50px;
}

.row {
  /* This creates some negative space between each Story / Fact */
  margin: 60px 0;
  /* This makes each .row section less wide on the page, and adds some empty space above and below them */
  padding: 40px 40px;
}

/* Styling the landing page */
.jumbotron {
	height: 600px;
}

.jumbotron h1 {
  margin-top: 200px;
  font-family: "Nova Oval", sans-serif;
}

#landingPage {
  background-image: url("images/landing_page.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#title {
	color: white;
}

/* Styling the Stories section */
.row img, .img-circle, .img-responsive {
  height: 150px;
  width: 150px;
}

/* Styling the Facts section */
.web_dialog {
  display: none;
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50vw;
  background-color: #ffffff;
  box-shadow: 1px 1px 4px grey;
  z-index: 102; /* This ensures that the popup window is displayed on top of the other content */
}

.web_dialog_title {
  color: white;
  font-size: 2em;
  padding: 10px 0;
}

.fact_popup {
  padding: 20px;
}

/* Styling the Contact section */
.icons {
  padding: 30px;
  font-size: 40px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  float: center;
  margin: 5px 2px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border: 50%;
}

.fa-twitter {
  background-color: #55ACEE;
  color: white;
}

.message {
	height: 200px;
	width: 50px;
}

/* Styling the footer */
footer {
  width: auto;
  padding: 10px 0;
}
